.cambiar {
    width: 100px;
    height: 30px;
    font-size: small;
    background-color: #20bca0;
    color: white;
    border: 10px;
    border-radius: 4px;
  }

  .acomodar-borones{
    display: flex;
    justify-content: space-evenly;

  }